<robot name="noodle_leg" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="femur"/>
  </joint>

  <link name="femur">
    <visual>
      <geometry>
        <mesh filename="package://noodle/cad/stl/femur.stl" scale="1e-3 1e-3 1e-3"/>
      </geometry>
    </visual>
    <xacro:include filename="$(find noodle)/cad/urdf/femur.urdf"/>
  </link>

</robot>
